<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/globals.css">
    <link rel="stylesheet" href="/css/index-style.css">
</head>
<body>

    <section class="index">
        <div class="index-box">
            <h1>Vote - <%= poll.name %></h1>
            <p>A simple poll system made with typescript! 🍔</p>
            <select name="vote" id="vote">
                <% for(let i=0; i<poll.options.length; i++) { %>
                    <option value="<%= poll.options[i].name %>"><%= poll.options[i].name %></option>
                <% } %>
            </select>
            <div class="index-box-btn">
                <button class="btn btn-primary" id="vote-btn" onclick="submit()">Vote</button>
                <a class="btn btn-color-g" href="/polls/<%= poll.id %>/results">Results</a>
            </div>
        </div>
    </section>

    <script>
        const submit = async () => {
            const vote = document.getElementById('vote').value;
            const response = await fetch('/api/vote', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    id: '<%= poll.id %>',
                    vote: vote
                })
            });

            switch(response.status){
                case 200:
                    window.location.href = '/polls/<%= poll.id %>/results';
                    break;
                case 400:
                    alert('Invalid vote!');
                    break;
                case 421:
                    alert('You have already voted');
                    break;
            }
            
        };
    </script>
</body>
</html>